<div>
  <h2 class="bg-light my-5 ml-xl-5 col-2">会員情報編集</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <%= form_with model: @customer, url: customers_infomation_path, method: :patch do |f| %>
        
        <table class="table table-borderless">
            <tr>
              <td><%= f.label :name, "氏名" %></td>
              <td><%= f.text_field :last_name %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            
            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana %></td>
              <td><%= f.text_field :first_name_kana %></td>
            </tr>
            
            <tr>
              <td><%= f.label :postcode, "郵便番号" %></td>
              <td><%= f.text_field :postcode %></td>
            </tr>
            
            <tr>
              <td>住所</td>
              <td><%= f.text_field :address,  size:50  %></td>
            </tr>
            
            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            
            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email %></td>
            </tr>
            
            <tr>
              <td></td>
              <td><%= f.submit "編集内容を保存",class: 'btn btn-sm btn-success' %></td>
              <td><%= link_to "退会する", customers_confirm_path, class:'btn btn-danger' %></td>
            </tr>
        </table>
        
      <% end %>
    </div>
  </div>
</div>