<div class="container">
  <div class="row">
    <h1>search for "<%= @word %>"</h1>
  </div>
    
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-3 my-4">
        <div class="card w-100 bg-transparent border-0" style="width: 18rem;">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(300,135) %>
          <% end %>
                
          <div class="card-body">
            <%= item.name %></br>
            <% if item.is_active == true %><%# 商品が販売している場合 %>
              ¥<%= item.add_tax_price.to_s(:delimited) %>
            <% else %><%# 商品が販売を停止している場合%>
              <p>販売停止中</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>