    <div class="container">
        <%= render 'public/orders/flash' %>
      <div class="row">
        <div class="col-3 mt-4">
            <%= render 'genre' %>
        </div>
       <div class="col-7">
         <div class="row" style="padding: 20px;">
          <div class="col">
              <%= render 'slide' %>
          </div>
         </div>
         <h3>新着商品</h3>
      <div class="row">
       <% @items.each do |item| %>
        <div class="col-3 lg-4 mt-3"> 
         <div class="card w-100 bg-transparent border-0">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(150, 100) %>
          <% end %>
         <div class="card-body" style="padding: 0;">
          <%= item.name %></br>
            <% if item.is_active == true %>
              ¥<%= item.add_tax_price %>
            <% else %>
              <p>販売停止中</p>
            <% end %>
          </div>
          </div>
        </div>
       <% end %>
     </div>
    </div>
  </div>
