<div class="container">
  <div class="row">
    <h4 class="my-3 ml-4">注文情報確認</h4>
  </div>
  <div class="row">
    <div class ="col">
      <!--注文履歴一覧-->
      <% if @orders_all.present? %>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-light">
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
          <tbody>
            <% @orders_all.each do |order| %>
              <tr>
                <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
                <td>
                  〒<%= order.postcode %><br>
                  <%= order.addresses %><br>
                  <%= order.name %>
                </td>
                <td>
                  <% if order.order_details.size <= 3 %>
                    <% order.order_details.each do |order_detail| %>
                      <%= order_detail.item.name %><br>
                    <% end %>
                  <% else %>
                    ※商品が多いため<br>
                    <%= link_to "表示する", order_path(order), class: "btn btn-primary" %>へ
                  <% end %>
                </td>
                <td>￥<%= order.total_price %></td>
                <td><%= order.status_i18n %></td>
                <td><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
      <% else %>
        <div class="text-center">
          <h2 class="mb-5">ご注文履歴がありません。</h2>
          <%= link_to "表示一覧へ", items_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      </table>
    </div>
  </div>
</div>
